@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// ─── Site Footer ──────────────────────────────────────────────
.carvia-footer-copyright {
  background-color: $color-deep-black;
  text-align: center;
  padding: 20px 0;
  color: #f4f9e0;
  @include respond-below(sm) {
    padding: 20px 0;
    font-size: 15px;
  }
  p {
    margin-bottom: 0;
  }
}
