@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.carvia-cars-archive {
    padding: 85px 0 90px;
    @include respond-below(lg) {
        padding: 60px 0;
    }
    @include respond-below(md) {
        padding: 50px 0;
    }
    .car-card {
        margin: 15px 0;
        .car-card-top-content {
            position: relative;

            .car-card-image {
                img {
                    border-radius: 20px;
                }
            }

            .car-card-price {
                position: absolute;
                top: 30px;
                left: 30px;
                background-color: $color-primary;
                width: 100px;
                height: 100px;
                text-align: center;
                border-radius: 100%;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 6px;
                @include respond-below(md) {
                    width: 80px;
                    height: 80px;
                }

                .car-rental-price {
                    font-size: 26px;
                    font-weight: 700;
                    margin: 0;
                    line-height: 26px;
                    @include respond-below(md) {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                .car-rental-duration {
                    font-size: 16px;
                    line-height: 16px;
                    @include respond-below(md) {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }

        .car-card-body-content {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px 30px 10px;
            border-radius: 20px;
            margin: -20px 0 0;
            position: relative;
            background-color: #fff;

            .car-card-title {
                margin: 0;
            }

            .car-card-spec {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                padding: 10px 0;

                &:last-child {
                    border: 0;
                }

                .spec-value {
                    color: #444;
                    font-weight: 500;
                }
            }
            .car-model-name {
                @include respond-below(md) {
                    margin: 0;
                }
            }
        }
    }
}



