@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.carvia-services-archive {
    padding: 100px 0 80px;
    @include respond-below(lg) {
        padding: 60px 0 40px;
    }
    .service-card {
        background-color: #F6F4F4;
        padding: 40px 30px 30px;
        border-radius: 30px;
        .service-image {
            margin: 25px 0 0;
            img {
                border-radius: 20px;
            }
        }
    }           
}



